@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* General Styles */
*{
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
  }
  
  /* Hero Section */
  .hero {
    height: 100vh;
    width: 100%;
    /* background: url('./assets/hero1.jpg') no-repeat center center/cover;
     */
    display: flex;
    flex-direction: column;
    position: relative;
    color: #f7fbff;
  }

  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./assets/hero1.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url(./assets/ink3.webp);
    mask-size: cover;
    mask-position: center;
}

.hero::after{
  content: '';
  inset: 0;
    position: absolute;
    background:#f7fbff;
    z-index: -2;
}
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 90%;
    margin: 20px auto;
    position: relative;
    z-index: 2; /* Above overlay */
  }
  
  .logo {
    width: 60px; /* Set the width of the container */
    height: 60px; /* Set the height of the container */
    overflow: hidden; /* Hide any overflow */
    border-radius: 50%;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .logo:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  }
  
  .logo img {
    width: 100%; /* Make the image take the full width of the container */
    height: 100%; /* Make the image take the full height of the container */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    object-position: center; /* Center the image within the container */
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #08306b;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #f39c12;
  }
  
  /* Hero Content */
  .hero-content {
    position: relative;
    box-sizing: border-box;
    z-index: 2; /* Above overlay */
    padding: 0 70px;
    max-width: 500px;

    max-height: 500px;
    margin: auto 0px;

  }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .hero-btn{
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .hero-btn button{
    background-color: #08306b;
    color: #f7fbff;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
  }


/* Style the play button */
.play-button {
  position: fixed; /* Fix the button to the screen */
  bottom: 20px; /* Distance from the bottom of the screen */
  right: 20px; /* Distance from the right of the screen */
  z-index: 1; /* Ensure the button is on top of other elements */
  background-color: #08306b; /* Button background color */
  color: #f7fbff; /* Button text color */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Add some padding to the button */
  font-size: 16px; /* Button font size */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  border-radius: 5px; /* Add a slight rounded corner to the button */
  width: 100px;
}

.play-button:hover {
  background-color: #08519c; /* Change the button background color on hover */
}

/* Image Slider Section */
.image-slider-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; 
  /* background-color: #f7fbff; */
}

.image-slider-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(./assets/flowerBackground.png);
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url(./assets/ink3.webp);
  mask-size: cover;
  mask-position: center;
}

.image-slider-container::after{
content: '';
inset: 0;
  position: absolute;
  background:#f7fbff;
  z-index: -2;
}

.image-slider {
  width: 100%;
  height: 40%; /* Each slider takes half the height of the container */
  overflow: hidden;
  position: relative; /* Position relative for absolute children */
  margin: 0; /* Reset margin if needed */
}

.slides {
  display: flex;
  gap: 3rem;
  transition: transform 0.5s ease;
  height: 100%; /* Full height of the slider */
}

.slide {
  min-width: 100vw; /* Each slide takes full viewport width */
  height: 100%; /* Full height */
  background-size: cover;
  background-position: center;
  border-radius: 2rem;

  box-shadow:inset 2px 2px 10px #333;
}

/* Story Section Styling */
.story-section-one{
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  /* background-color: #f7fbff; */
}

.story-section-one::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(./assets/flowerThree.webp);
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url(./assets/ink3.webp);
  mask-size: cover;
  mask-position: center;
}

.story-section-one::after{
content: '';
inset: 0;
  position: absolute;
  background:#f7fbff;
  z-index: -2;
}

.story-section-container {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.story-section-title {
  height: 20%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold; 
  padding: 1.5rem;
  margin:0;
}

.story-content {
  height: 80%;
  display: flex;
  gap: 2rem;
  align-items: flex-start;

  max-height:100%;
  padding-bottom: 3rem;
}

.image-container {
  position: relative;
  min-width: 50%; /* Adjusts the width as needed */
  height: 100%;
  overflow: hidden; /* Ensures the image doesn't overflow the container */
}

.image-container img {
  width: 100%; /* Ensures the image fills the width */
  height: 100%; /* Ensures the image fills the height */
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  display: block; /* Removes any inline spacing issues */
}

.angled-image {
  width: 100%;
  position: absolute; /* Position it absolutely */
  border-radius: 1rem;
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 1; /* Ensure it is on top */
}

.stacked-image {
  width: 100%;
  margin-top: 50px; /* Adjust margin to create space for the angled image */
  z-index: 0; /* Ensure it is below the angled image */
}

.note-section {
  height: 90%;
  margin: auto;
  max-width: 50%; /* Half of the container */
  padding: 20px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  /* Glassmorphism effect */
  backdrop-filter: blur(10px); /* Adds blur effect to background */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border with transparency */
  color: #333; /* Text color for contrast */
}

/* Optional: Adding hover effect */
.note-section:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* More shadow on hover */
}


/* TimeLine Section */
/* Timeline Section Styling */
.timeline-section {
  position: relative;
  /* background-color: #f7fbff; */
  padding: 1rem 1rem;
}

.timeline-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(./assets/flowerTwo.jpg);
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url(./assets/ink3.webp);
  mask-size: cover;
  mask-position: center;
}

.timeline-section::after{
content: '';
inset: 0;
  position: absolute;
  background:#f7fbff;
  z-index: -2;
}

section h1 {
  font-size: inherit;
  margin-block-start: inherit;
  margin-block-end: inherit;
}

.timeline-section-title{
  font-size: 3rem;
  margin: 1rem auto;
  text-align: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 5px;
  background: #08306b; /* Gradient effect */
  top: 0;
  bottom: 0;
  left: 50%; /* Center the line */
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 3px;
}

.timeline-node {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline-node.left {
  left: 0;
  text-align: right;
}

.timeline-node.right {
  left: 50%;
  text-align: left;
}

.timeline-node .content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.timeline-node.left .content {
  flex-direction: row-reverse;
}

.timeline-node.right .content {
  flex-direction: row;
}

.node-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  border: 5px solid #fff; /* Adds a white border */
  transition: all 0.3s ease-in-out;
}

.node-image:hover{
  transform: scale(1.5);
}

.description {
  max-width: 400px;
}

.description h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.description p {
  font-size: 1rem;
  color: #333;
}

/* Fancy Nodes */
.timeline-node::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #6baed6;
  border: 3px solid #fff;
  border-radius: 50%;
  top: 50%; 
  /* transform: translate(-50%, -50%); */
  right: -13px; /* Center the node on the timeline */
  z-index: 3;
  box-shadow: 0 0 8px #4292c6;
}

.timeline-node.right::before{
  position: absolute;
  left: -13px;
}



/* Footer Styling */
.footer {
  margin-top: 2rem;
  background-color: #08306b;
  color: #f7fbff;
  padding: 1rem 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 30%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer-container .about{
  padding-left: 2rem;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
  font-size: 1rem;
  line-height: 1.6;
}


.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #f7fbff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #f7fbff;
  padding-top: 20px;
  text-align: center;
}

.footer-bottom p {
  margin: 10px 0;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}

.social-icons li a {
  color: #f7fbff;
  font-size: 1.5rem;
}

.social-icons li a:hover {
  color: #ff6f61;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px 0;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}



